
.tipCalculator{
    position: absolute; /*  This following code will be used to center or middle section in the page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tipcalculatorCard{
    width: 120%;
    
}

.tipcalculatorHeader{
    text-align: center;
    background-color: #9681EB;
   
}

.calcuate{
    background-color: #9681EB;
}

.text{
    margin-top: 20px;
    margin-bottom: 8px;
}

.textInput{
    padding-left: 5px;
}


.errormessageField{
    margin-top: 10px;
    color: red;
}

.calcuate{
    text-align: center;
}

.calcuteButton{
    margin-top: 10px;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #EDE4FF;
}